In [26]:
import pandas as pd
url_cont = "https://raw.githubusercontent.com/albercol/TFG/main/Fase%203/DatosLimpiosYOutliers/Contaminacion.csv"
url_met = "https://raw.githubusercontent.com/albercol/TFG/main/Fase%203/DatosLimpiosYOutliers/Meteorologia.csv"
url_traf = "https://raw.githubusercontent.com/albercol/TFG/main/Fase%203/DatosLimpiosYOutliers/Trafico.csv"
df_cont = pd.read_csv(url_cont)
df_met = pd.read_csv(url_met)
df_traf = pd.read_csv(url_traf)
df_contmet = pd.merge(df_cont, df_met, on="FECHAH",how="outer")
df_final = pd.merge(df_contmet, df_traf, on="FECHAH",how="outer")
df_final

,DIA_x,MES_x,ANO_x,HORA_x,CO,NO,NO2,PM2.5,PM10,NOx,...,FECHA_y,DIA,MES,ANO,HORA,ES10,ES53,ESSUMA,FECHA,TIPO_y
0,1.0,1.0,2019.0,1.0,0.6,81.0,73.0,NaN,NaN,196.0,...,2019-01-01 00:00:00,1.0,1.0,2019.0,1.0,415.0,489.0,904.0,2019-01-01 00:00:00,FESTIVO
1,1.0,1.0,2019.0,2.0,0.8,124.0,82.0,NaN,NaN,272.0,...,2019-01-01 00:00:00,1.0,1.0,2019.0,2.0,757.0,732.0,1489.0,2019-01-01 00:00:00,FESTIVO
2,1.0,1.0,2019.0,3.0,0.7,93.0,72.0,NaN,NaN,215.0,...,2019-01-01 00:00:00,1.0,1.0,2019.0,3.0,624.0,567.0,1191.0,2019-01-01 00:00:00,FESTIVO
3,1.0,1.0,2019.0,4.0,0.6,86.0,66.0,NaN,NaN,198.0,...,2019-01-01 00:00:00,1.0,1.0,2019.0,4.0,474.0,495.0,969.0,2019-01-01 00:00:00,FESTIVO
4,1.0,1.0,2019.0,5.0,0.6,79.0,64.0,NaN,NaN,185.0,...,2019-01-01 00:00:00,1.0,1.0,2019.0,5.0,285.0,335.0,620.0,2019-01-01 00:00:00,FESTIVO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.0,6.0,2019.0,22.0,538.0,654.0,1192.0,2019-06-30 00:00:00,LABORABLE
25555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.0,6.0,2019.0,23.0,495.0,603.0,1098.0,2019-06-30 00:00:00,LABORABLE
25556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.0,6.0,2019.0,24.0,380.0,485.0,865.0,2019-06-30 00:00:00,LABORABLE
25557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.0,1.0,2020.0,21.0,652.0,731.0,1383.0,2020-07-01 00:00:00,LABORABLE
25558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.0,1.0,2020.0,20.0,638.0,757.0,1395.0,2020-08-01 00:00:00,LABORABLE

In [27]:
import urllib.request
festivos = pd.read_csv("https://raw.githubusercontent.com/RafaelCaballero/tdm/master/datos/calendario.csv",sep=",")

festivos.columns = ["FECHA","semana","festivo","TIPO","FESTIVIDAD"]
# los huecos en festivo parecen ser todos dÃ­as laborables
festivos["festivo"].fillna("laborable", inplace=True)
festivos

           FECHA     semana    festivo              TIPO FESTIVIDAD
0     01/01/2013     martes    festivo  Festivo nacional  AÃ±o Nuevo
1     02/01/2013  miÃ©rcoles  laborable               NaN        NaN
2     03/01/2013     jueves  laborable               NaN        NaN
3     04/01/2013    viernes  laborable               NaN        NaN
4     05/01/2013     sÃ¡bado     sÃ¡bado               NaN        NaN
...          ...        ...        ...               ...        ...
3646  27/12/2022     martes  laborable               NaN        NaN
3647  28/12/2022  miÃ©rcoles  laborable               NaN        NaN
3648  29/12/2022     jueves  laborable               NaN        NaN
3649  30/12/2022    viernes  laborable               NaN        NaN
3650  31/12/2022     sÃ¡bado  laborable               NaN        NaN

[3651 rows x 5 columns]

In [28]:
festivos.dropna(subset=["FECHA","semana"],inplace=True)
festivos["FECHA"] = pd.to_datetime(festivos['FECHA'])
festivos["festivo"] = festivos["festivo"].str.lower()
festivoscols = festivos[["FECHA","festivo"]]
# aÃ±adir la informaciÃ³n de un dataframe al otro
festivoscols

          FECHA    festivo
0    2013-01-01    festivo
1    2013-02-01  laborable
2    2013-03-01  laborable
3    2013-04-01  laborable
4    2013-05-01     sÃ¡bado
...         ...        ...
3646 2022-12-27  laborable
3647 2022-12-28  laborable
3648 2022-12-29  laborable
3649 2022-12-30  laborable
3650 2022-12-31  laborable

[3651 rows x 2 columns]

In [30]:
# left join
df_final["FECHA"] = pd.to_datetime(df_final['FECHA'])
df_final = df_final.merge(festivoscols, on='FECHA', how='left')

In [31]:
df_final

,DIA_x,MES_x,ANO_x,HORA_x,CO,NO,NO2,PM2.5,PM10,NOx,...,DIA,MES,ANO,HORA,ES10,ES53,ESSUMA,FECHA,TIPO_y,festivo
0,1.0,1.0,2019.0,1.0,0.6,81.0,73.0,NaN,NaN,196.0,...,1.0,1.0,2019.0,1.0,415.0,489.0,904.0,2019-01-01,FESTIVO,festivo
1,1.0,1.0,2019.0,2.0,0.8,124.0,82.0,NaN,NaN,272.0,...,1.0,1.0,2019.0,2.0,757.0,732.0,1489.0,2019-01-01,FESTIVO,festivo
2,1.0,1.0,2019.0,3.0,0.7,93.0,72.0,NaN,NaN,215.0,...,1.0,1.0,2019.0,3.0,624.0,567.0,1191.0,2019-01-01,FESTIVO,festivo
3,1.0,1.0,2019.0,4.0,0.6,86.0,66.0,NaN,NaN,198.0,...,1.0,1.0,2019.0,4.0,474.0,495.0,969.0,2019-01-01,FESTIVO,festivo
4,1.0,1.0,2019.0,5.0,0.6,79.0,64.0,NaN,NaN,185.0,...,1.0,1.0,2019.0,5.0,285.0,335.0,620.0,2019-01-01,FESTIVO,festivo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.0,6.0,2019.0,22.0,538.0,654.0,1192.0,2019-06-30,LABORABLE,laborable
25555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.0,6.0,2019.0,23.0,495.0,603.0,1098.0,2019-06-30,LABORABLE,laborable
25556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.0,6.0,2019.0,24.0,380.0,485.0,865.0,2019-06-30,LABORABLE,laborable
25557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,1.0,2020.0,21.0,652.0,731.0,1383.0,2020-07-01,LABORABLE,laborable
25558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,1.0,2020.0,20.0,638.0,757.0,1395.0,2020-08-01,LABORABLE,laborable

In [32]:
df_final["TIPO"] = df_final["festivo"]
df_final = df_final[['FECHAH', 'TIPO', 'CO', 'NO', 'NO2', 'PM2.5', 'PM10','NOx', 'O3',  
 'VELOCIDAD VIENTO', 'DIR. VIENTO', 'TEMPERATURA',
       'HUMEDAD RELATIVA', 'PRESION BAROMETRICA', 'PRECIPITACIONES', 
        'ES10', 'ES53', 'ESSUMA'
       ]]
df_final

,FECHAH,TIPO,CO,NO,NO2,PM2.5,PM10,NOx,O3,VELOCIDAD VIENTO,DIR. VIENTO,TEMPERATURA,HUMEDAD RELATIVA,PRESION BAROMETRICA,PRECIPITACIONES,ES10,ES53,ESSUMA
0,2019-01-01 00:00:00,festivo,0.6,81.0,73.0,NaN,NaN,196.0,3.08,0.68,48.0,2.6,71.0,959.0,0.0,415.0,489.0,904.0
1,2019-01-01 01:00:00,festivo,0.8,124.0,82.0,NaN,NaN,272.0,3.05,0.69,32.0,2.5,71.0,959.0,0.0,757.0,732.0,1489.0
2,2019-01-01 02:00:00,festivo,0.7,93.0,72.0,NaN,NaN,215.0,3.13,0.70,43.0,1.7,74.0,959.0,0.0,624.0,567.0,1191.0
3,2019-01-01 03:00:00,festivo,0.6,86.0,66.0,NaN,NaN,198.0,3.02,0.70,74.0,1.1,75.0,959.0,0.0,474.0,495.0,969.0
4,2019-01-01 04:00:00,festivo,0.6,79.0,64.0,NaN,NaN,185.0,2.98,0.66,67.0,1.2,74.0,959.0,0.0,285.0,335.0,620.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25554,2019-06-30 21:00:00,laborable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,538.0,654.0,1192.0
25555,2019-06-30 22:00:00,laborable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,495.0,603.0,1098.0
25556,2019-06-30 23:00:00,laborable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,380.0,485.0,865.0
25557,2020-01-07 20:00:00,laborable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652.0,731.0,1383.0
25558,2020-01-08 19:00:00,laborable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,638.0,757.0,1395.0

In [34]:
df_final.to_csv("../data/contmettraf.csv",index=False)